p{
    color: fuchsia;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: none;
    text-shadow: 1px;
}
h1{
    text-align: center;
}